:root {
    --charcoal-black: #1C1C1C;    
    --slate-gray: #a8a8a8;
    --primary-color: #d63547;
    --white: #ffffff;
    --offcanvas-bg: #222222;   
     
    --font-bold: 500;
    --font-medium: 400;    
    --font-light:300;
    
    --bs-lg: 992.8px;
    --bs-md: 768px;
    --bs-sm: 564px;
    
    
}

@font-face  {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Black.ttf');
    font-style: normal;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: var(--charcoal-black);
    color: var(--white);
    
    

}

/* Preloader css */

.loader{
    background:  var(--primary-color);
    display: flex;
    justify-content:  center;
    align-items: center;
}

.loader p{
    font-weight: var(--font-light);
}

section {
    width:  100vw;    
}

/* Navbar & Sidebar   */

.hamburger-menu {
    border: none;
    color:  white;
    
}

.hamburger-menu:hover,
.navbar-toggler:focus,
.btn-close:hover,
.btn-close:focus {
    box-shadow: none;
}

nav {
    min-height: 8vh;
    position: relative;
    
}


.offcanvas {
    background: var(--offcanvas-bg);
}

.close-btn {
    top: 3%;
    right: 5%;
}

.close-btn i {
    color: var(--slate-gray);
    cursor: pointer;
}

.close-btn i:hover {
    color: white;
}

.offcanvas-body div ul li{list-style: none;}


.offcanvas-body div ul li a  {
    color: var(--slate-gray);
    font-weight:  var(--font-light);
    cursor: pointer;
    font-size:  1.2rem;
    transition:  .2s ease;
    text-decoration:  none;     
    
    
}

.offcanvas-body div div:first-child ul li a{
    font-size: 1.3rem;
}


.offcanvas-body ul li a:hover{
    color: white;
}

.offcanvas-body div ul li{
    margin-top: 1.2rem;
}

.offcanvas-body div ul li a i{
    margin-right: 1.5%;
}


.heading {
    text-align:  center;
    color:  white;    
    font-weight: var(--font-bold);
    
}


.offcanvas{
    background: var(--offcanvas-bg);
    
}

.line{
    height:  1px;
    width:  90%;
    margin: auto;
    background:  #2e2e2e;
    border-radius: 50%;
    content: "";
    display: flex;
    position: relative;
}



/* Progress Bar Container */

#progressBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--primary-color); /* Customize the color */
    z-index: 9999;
    transition: width 0.4s ease-out;
}




/* Hero Section */

.hero {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-wrapper {
  padding: 6.4rem;
}

.hero-paragraph {
  padding-top: 50vh;
  padding-left: 20rem ;
  padding-bottom: 5rem; 
}

.hero-paragraph-text,
.hero-paragraph-text span {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: var(--font-medium);
}



.hero-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-bg-img {
  width: 100%;
  height: 120%;
  object-fit: cover;
  scale: 1;
}


/* heading */

.heading {
    font-size:  4rem;
    font-weight: var(--font-medium);
    letter-spacing: 2px;
    
}


 
 /* portfolio section */
 
 #portfolio {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 80px;
  padding-top: 5rem;
  
  
}

.cards {
  width: 80%;
  margin: 0 auto;
  padding: 3%;
  position:  relative;
  
  
}

.cards_item {
  width: 100%;
  perspective: 500px;
  margin-bottom: 5%;
  
}

.cards_item:last-child {
  margin-bottom: 0;
}

.cards_el {
  width: 100%;
  height: 400px;
}

.cards_el-wrapp {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 40px;
  padding: 3%;
  border-radius: 20px;
  background: var(--offcanvas-bg);
  backdrop-filter: blur(10px);
  will-change: blur;
}

.cards_img {
  width: 40%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.cards_img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards_txt {
  width: calc(60% - 40px);
  
}

.cards_el-title {
  margin-bottom: 5%;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  font-weight:  var(--font-medium);
}

.cards_el-p,
.cards_el-a {
  color: var(--slate-gray);
  font-size: 1.2rem;
  font-weight: var(--font-light);
}

.cards_el-a {
    cursor: pointer;
    text-decoration:  none;
}

.cards_el-a:hover{
    color: white;
}

.cards_txt_md{
    display: none;
}

.end-anime{
    height: 1px;
    margin-top:  50px;
    
    
}

/* talents */
#talents{
    margin-top:  5vh;
    padding: 2rem 0;
}

.talents_box{
    width: 70%;
}

.talents_box div span{
    color: var(--primary-color);
    font-size:  3rem;
}

.talents-heading{
    font-size: 3rem;
    font-weight: var(--font-medium);
    margin:  1% 0;
}


.talents-para{
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    color: var(--slate-gray);    
}



/* Contact section */

#contact{   
    padding: 0 0 3rem 0;
}

/* form */

form{
    width: 70%;
    margin: auto;
}

input,
textarea {
    background:  transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 1% 2%;
    cursor: pointer;    
    min-height: 5vh;
    margin: 5% auto;
    width: 100%;
    font-size:  2rem;
    font-weight:  var(--font-meduim);
    outline:  none;
}

input::placeholder,
textarea::placeholder{
    color: var(--slate-gray);
}

input[type="submit"]{
    border: 1px solid white;
    width: auto;
    height: auto;
    margin: auto;
    padding: 2% 4%;
    border-radius: 50px;
    margin-top: 2rem;
}

.toast-header{
    border-bottom: 1px solid var(--slate-gray);
}

.toast,
.toast-header {
    background: var(--offcanvas-bg);
    backface-visibility: 10%;
}

small{
    color: var(--slate-gray);
}

.me-auto {
    color:  white;
}

.toast-body{
    font-weight: var(--font-light);
}
.btn-close{
    border: none;
}


/* footer */

footer{
    background:  var(--offcanvas-bg);
    padding:  3rem 0 0 0 ;
}

.footer-ul li a{
    cursor: pointer;
    color: var(--slate-gray);
    font-weight:  var(--font-light);
    font-size: 2rem;
    text-decoration: none;
    margin:  2rem 0;
}

#copyright {
    color: var(--slate-gray);
    font-weight:  var(--font-light);
    font-size: 2rem;
}



/* Responsive */
@media screen and (max-width:768px){
    .offcanvas-body div ul li a,
    .cards_el-p{
        font-size: 1rem;
    }
    
    .offcanvas-body div div:first-child ul li a,
    input,
    textarea {
        font-size: 1.1rem;
    }    
    
    
    .hero-paragraph {
        padding-left:  0;
    }
    
    .hero-paragraph-text,
    .hero-paragraph-text span,
    .cards_el-title,
    .talents-heading,
    .talents_box div span{
        font-size: 2rem;
    }
    
    .hero-paragraph{
        padding-left: 0;
        padding-top: 75vh;
    }
     
     
    .hero-wrapper{
        padding: 1rem;
    }
    
    .heading {
        font-size: 3rem;
    }
    
    .cards{
        width:  90%;
        padding:  0;
    }
    
    .cards_el-wrapp{
        padding: 0;
        border-radius: 0;
    }
    
    .cards_el{
        height:  300px;
    }
    
    .cards_txt{
        display: none;
    }
    
    .cards_img {
        width: 100%;
        border-radius: 10px;
    }
    
    
    .footer-name{
        font-size:  5rem;
    }
    
    form,
    .talents_box {
        width: 90%;
    }
    
    
    .talents-para{
        font-size: 1rem;
    }
}

